/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom css */
@font-face {
    font-family: plume;
    src: url('../assets/fonts/plume.otf');
}
body{
    font-size: 16px;
}
h1, h2{
    font-family: plume
}
h1{
    font-size: 11em;
}
h2{
    font-size: 4em
}
.landing{
    background: url('../assets/images/cross.jpg');
    min-height: 670px;
    height: 100vh;
    text-align: center;
    background-size: cover;
    border-bottom: 3px solid #cc0000;
    overflow: hidden;
    position: relative;
    background-attachment: fixed
}
.landing h1{
    margin-top: 200px;
    position: relative;
    top: -50%;
}
.landing h1 span{
    color: #cc0000
}
@keyframes spin {
    from {transform: translate(-50%,-50%) rotate(0deg);}
    to {transform: translate(-50%,-50%) rotate(360deg)}
}

@keyframes scale {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.landing img.spin{
    position: absolute;
    top: 50%;
    left: 50%;
    animation-name: spin;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 100%;
    opacity: 0.2;
}
.logo{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 150px;
    z-index: 1;
    animation-name: scale;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.content{
    background: url('../assets/images/lines.jpg');
    background-size: cover;
    height: 1000px
}