/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
section{
    padding: 15px 0;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom css */
@font-face {
    font-family: plume;
    src: url('../assets/fonts/plume.otf');
}
body{
    font-size: 16px;
    background: url('../assets/images/lines.jpg');
    background-size: cover;
    line-height: 1.4
}
h1, h1 *, h2, h2 *{
    font-family: plume !important
}
h1, h2, h3{
    margin-bottom: 15px;
}
p, span, h3, h4, ol, div{
    font-family: raleway
}
.content h3{
    margin-top: 30px;
    font-weight: bold;
    border-bottom: 1px solid #ccc
}
h3{
    font-size: 20px 
}
ol{
    list-style: decimal
}
h1{
    font-size: 11em;
}
h2{
    font-size: 4em
}
.landing{
    background: url('../assets/images/cross.jpg');
    min-height: 550px;
    height: 100vh;
    text-align: center;
    background-size: cover;
    border-bottom: 3px solid #cc0000;
    overflow: hidden;
    position: relative;
    background-attachment: fixed
}
.landing h1{
    margin-top: 100px;
    position: relative;
    top: -50%;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.18);
}
.landing h1 span{
    color: #cc0000
}
.live-stream-tooltip {
    position: absolute;
    z-index: 10;
    /*color: #cc0000;*/
    transition: all 0.2s linear;
    /*text-shadow: 0px 0px 0px #cc0000;*/
    right: 100px;
    font-size: 20px;
}

.live-stream-tooltip:hover {
    /*text-shadow: 0px 0px 12px #cc0000;*/
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #cc0000;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #cc0000;
    border-radius: 4px;
}

@keyframes spin {
    from {transform: translate(-50%,-50%) rotate(0deg);}
    to {transform: translate(-50%,-50%) rotate(360deg)}
}

@keyframes scale {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@keyframes scroll {
    from {top: 3px; opacity: 0}
    to {top: 32px; opacity: 1}
}

.landing img.spin{
    position: absolute;
    top: 50%;
    left: 50%;
    animation-name: spin;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 100%;
    opacity: 0.2;
}
.logo{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 150px;
    z-index: 1;
    animation-name: scale;
    animation-duration: 1s;
    animation-timing-function: linear;
}
ul.navigation {
    position: fixed;
    top: 30%;
    transform: translate(-50%);
    z-index: 3;
    right: 10px;
}
ul.navigation li {
    background: #333333;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border-radius: 50%;
    margin-bottom: 10px;
    padding-top: 5px;
    cursor: pointer;
    right: 0;
    position: relative;
    transition: all 0.2s linear;
}
ul.navigation li:hover {
    background-color: #6d6d6d;
    right: 5px;
}
ul.navigation li.active {
    background-color: #cc0000;
    right: 5px;
}
span.line-container .line {
    position: absolute;
    background: #333333;
    width: 2px;
    height: 15px;
    left: calc(50% - 1px);
    top: 3px;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}
span.line-container {
    position: absolute;
    width: 32px;
    height: 56px;
    border: 2px solid #333333;
    border-radius: 35px;
    bottom: 20px;
    cursor: pointer;
    transform: translate(-50%);
    left: 50%
}
.click-me{
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    color: #333;
    font-weight: bold;
}

.content{
}

.speakers-container{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 300px;
    background: #000;
}
.speaker {
    height: 100%;
    width: 100px;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.2s linear;
}
.speaker:hover{
  
    opacity: 0.4;
}
.speaker.active{
    width: 700px;
    opacity: 1; 
    position: relative;
}
.speaker-info h4 {
    font-family: raleway;
}
.speaker-info h3 {
    font-family: raleway;
    font-size: 30px;
    margin-bottom: 5px;
}
.speaker-info {
    background: rgba(0, 0, 0, 0.38);
    color: #fff;
    padding: 10px 15px;
    position: absolute;
    bottom: 0;
    bottom: -100%;
    transition: bottom 0.2s linear;
    display: none;
}
.speaker.active .speaker-info{
    bottom: 0;
    display: block;
}

#map {
        height: 400px;
        width: 100%;
       }

       footer {
    background: #333333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: raleway;
}
/* responsive */
@media (max-width: 678px) {

}
@media (max-width: 678px) {
    .landing h1{
        margin-top: 80px
    }
}
@media (max-width: 500px) {
    h1{font-size: 5em}
}